<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--上傳大小 10MB maxRequestLength 最小單位KB 上傳時間 10s-->
    <httpRuntime maxRequestLength="10240" executionTimeout="10" targetFramework="4.6.1"/>
    <!--帳戶效力時間-->
    <sessionState timeout="15" />
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--AJAX 最大長度-->
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--檔案大小 maxAllowedContentLength最小單位 byte -->
        <requestLimits maxAllowedContentLength="10485760"></requestLimits>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value ="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <!-- 資料庫語法 -->
    <add key="Address" value="Data Source="/>
    <add key="DataBaseName" value="Initial Catalog=" />
    <add key="BaseAccount" value="uid=sa;" />
    <add key="BasePassword" value="Password=akatsuki7;" />
    <add key="BaseAccPwd" value="uid=sa;Password=akatsuki7;"/>
    <!-- 如果是本機端-->
    <add key="local" value="localhost;" />
    <!--Express 版本-->
    <add key="localExpress" value=" .\sqlexpress" />
    <add key="Security" value="Integrated Security=SSPI;" />
    <add key="Security2" value="Integrated Security=True;" />
    <!--帳戶資料庫-->
    <add key="Account" value="Initial Catalog=Account;" />
    <add key="CO2" value="Initial Catalog=CO2;" />
    
    <!--語系-->
    <add key="English" value="LanguageID='0'" />
    <add key="Chinese(TW)" value="LanguageID='1'" />
    <add key="Chinese(CN)" value="LanguageID='2'" />
  </appSettings>
  
</configuration>
